/* 2ddsource.rc  */
#include "constants.h"

IDR_MAIN_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
        BEGIN
            MENUITEM "&Open...",                    ID_FILE_OPEN
            MENUITEM "Save &As...",                 ID_FILE_SAVEAS
            MENUITEM "&Test_mesager...",       IDM_FILE_OPEN //IDC_B_BR
            MENUITEM "&Exit\tCtrl+q",       IDM_FILE_EXIT

        END
    POPUP "&Dialog"
    BEGIN
        MENUITEM "&Show",                       ID_DIALOG_SHOW
        MENUITEM "&Hide",                       ID_DIALOG_HIDE
    END
    POPUP "&About"
        BEGIN
            MENUITEM "&Apie...",      ID_HELP_ABOUT
        END
END

//------------
// aceleratorius

IDR_ACCEL1 ACCELERATORS
BEGIN
    "^q", IDM_FILE_EXIT // CTRL+F12

END

//-----------
// diaogas
IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 80

STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "My About Box"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,174,18,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,174,35,50,14
    GROUPBOX        "About this program...",IDC_STATIC,7,7,225,52
    CTEXT           "This program is a ""masterpeace"" created \r\n\r\n by Þygimantas Matonis 3 year 1 groupe",
                    IDC_STATIC,16,18,144,33
END

/////////////////////////////////////////////////////////////////////////////
//
// Modeless Dialog - toolbar
//

IDD_TOOLBAR DIALOGEX 0, 0, 200, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "My Dialog Toolbar"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "&Press This Button",IDC_PRESS,31,15,66,14
    PUSHBUTTON      "&Or This One",IDC_OTHER,112,14,47,14
    PUSHBUTTON      "R",IDC_B_R,126,87,50,14
    PUSHBUTTON      "L",IDC_B_L,27,87,49,14
    PUSHBUTTON      "T/L",IDC_B_TL,26,74,50,14
    PUSHBUTTON      "T",IDC_B_T,75,74,50,14
    PUSHBUTTON      "T/R",IDC_B_TR,125,74,50,14
    PUSHBUTTON      "B/L",IDC_B_BL,27,100,50,14
    PUSHBUTTON      "B",IDC_B_B,76,101,50,14
    PUSHBUTTON      "B/R",IDC_B_BR,125,100,50,14
    LTEXT           "X:",IDC_STATIC_X,27,46,19,9
    EDITTEXT        IDC_EDIT_X,45,43,47,16,ES_AUTOHSCROLL
    LTEXT           "Y:",IDC_STATIC_Y,113,45,8,8
    EDITTEXT        IDC_EDIT_Y,127,44,40,14,ES_AUTOHSCROLL


END
