/* 2ddsource.rc  */
#include "constants.h"

IDR_MAIN_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
        BEGIN
            MENUITEM "&Open...",      IDM_FILE_OPEN
            MENUITEM "&Exit\tCtrl+q",       IDM_FILE_EXIT

        END
    POPUP "&About"
        BEGIN
            MENUITEM "&Apie...",      ID_HELP_ABOUT
        END
END

//------------
// aceleratorius

IDR_ACCEL1 ACCELERATORS
BEGIN
    "^q", IDM_FILE_EXIT // CTRL+F12

END

//-----------
// diaogas
IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 80

STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "My About Box"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,174,18,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,174,35,50,14
    GROUPBOX        "About this program...",IDC_STATIC,7,7,225,52
    CTEXT           "This program is a ""masterpeace"" created \r\n\r\n by Þygimantas Matonis 3 year 1 groupe",
                    IDC_STATIC,16,18,144,33
END

